.inputGroup {
    background-color: #fff;
    width: 100%;
    display: block;
    margin: 0 0 0 20%;
    position: relative;

    label {
      padding: 1vh 1vw;
      width:100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 1.5vw;
        height: 1.5vw;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 20%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 3vw;
      height: 3vw;
      order: 1;
      z-index: 2;
      position: absolute;
      // left: 10vw;
      // top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }


.form {
  max-width: 15vw;
  margin: auto;
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 3vh;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


