@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.landing{
    /* background-color: rgba(211, 211, 211, 0.8); */
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.jumbo-title {
    font-size: 10vh;
    /* color: rgba(255, 0, 0, 0.788); */
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}

.description {
    font-size: 30px;
    color: rgb(165, 165, 165);
    font-family: 'Playfair Display', serif;
}

.btn-text {
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}