.nav-bar {
    background-color: black;
}

.name {
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}

.sub-link {
    color: rgb(255, 255, 255);
    font-size: 2vh;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
}